// @import "lib/mixins";
// @import "lib/slick";
@import "~tailwindcss/base";
@import "partials/base";
@import "partials/animations";
@import "~tailwindcss/components";
@import "partials/components";
@import "~tailwindcss/utilities";
@import "partials/utilities";
